/*-----------RESET----------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== VARIÁVEIS ==== */
:root{
    /* === CORES PRINCIPAIS === */
    --Background:#D3D2D2;
    --Primária:#224021; /* Verde principal - natureza */
    --Verde-claro:#76C363; /* Verde mais leve - regiões */
    --Verde-floresta:#337D1E; /*Verde escuro - fundo de notícia, e titúlos*/
    --Verde-folha:#67AC56; /* Verde suave - chat*/
    --Verde-mato: #1F5C23; /* Verde escuro - início do gradiente */
    --Verde-lima: #61BE6F; /* Verde claro - fim do gradiente */
    --Verde-musgo-claro:#85BC61; /* Verde suave, inspirado em folhas frescas */
    --Azul-ceu: #91BED4;  /* Azul suave - inspirado no céu claro */
    --Azul-noite: #304269;  /* Azul escuro - inspirado no céu noturno */


    /* === CORES DE APOIO === */
    --Preto:#000000;
    --Branco:#FFFFFF;
    --Sucess:#1BE071;
    --Warning:#F47E08;
    --Danger:#FF0000;
    --Cinza-escuro:#616161;

    /* === GRADIENTES === */
    --gradiente-floresta: linear-gradient(to right, var(--Verde-mato), var(--Verde-lima));
    --gradiente-nevoa-verde: linear-gradient(to bottom, var(--Background), var(--Verde-musgo-claro));   
    --gradiente-azul: linear-gradient(to bottom, var(--Azul-noite), var(--Azul-ceu));  

    /* === TIPOGRAFIA ===*/
    --ff-Montserrat: "Montserrat", sans-serif;
    --ff-InstrumentSans: "Instrument Sans", sans-serif;
    --ff-Megrim: "Megrim", system-ui;
    --ff-MontaguSlab: "Montagu Slab", serif;

    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.7rem;
    --fs-5: 1.6rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-f8: 1.2rem;

    --weight-regular: 400;
    --weight-semibold: 600;
    --weight-bold: 700;

    /* === ESPAÇO === */
    --section-spacing: 60px;

    /* === BODER RADIUS === */
    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-3: 3px;

    /* === SOMBRAS === */
    --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
    --shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
    --shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  
    /*==== TRANSIÇÃO ====*/
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
    /*==== CLIP PATH ====*/
    --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
    --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
    --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
    --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
    --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
    --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

li {
    list-style: none;
  }
  
  a,
  img,
  span,
  input,
  button,
  textarea,
  ion-icon {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .h1,
  .h2,
  .h3 {
    font-family: var(--ff-InstrumentSans);
    line-height: 1.2; 
  }
  
  img {
    height: auto;
  }
  
  input,
  button,
  textarea {
    background: none;
    border: none;
    font: inherit; /*herda da div pai*/
  }
  
  input,
  textarea {
    width: 100%;
  }
  
  ion-icon {
    pointer-events: none;
  }
  
  address {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body{
    background-color: var(--Background);
    color:var(--Branco);
    font-family: var(--ff-Montserrat);
    font-size: var(--fs-7);
    font-weight: var(--weight-semibold);
    line-height: 1.2;
    overflow-x: hidden;
    
  }

  .w-100{
    width: 100%;
  }

  /* === CONFIGURAÇÃO DE ROLAGEM === */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track{
    background-color: var(--Branco);
  }

  ::-webkit-scrollbar-thumb{
    background-color: var(--Verde-floresta);
  }


  /* === CSS REUTILIZÁVEL === */
  .container{
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /*16*/
  }

  /* === HEADER === */
.header {
  background-color: var(--Primária);
  color: var(--Branco);
}

/* === CONTAINER FLEXÍVEL === */
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  gap: 1rem;
}

/* === LOGO E NOME === */
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.logo img {
  height: 80px;
}

.verde {
  font-family: var(--ff-InstrumentSans);
  color: var(--Branco);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-3);
}

.factual {
  color: var(--Branco);
  font-weight: var(--weight-bold);
  font-family: var(--ff-Megrim);
  font-size: var(--fs-3);
}

/* === NAVBAR PRINCIPAL == */
.navbar {
padding: 15px 30px;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* === ITENS NAVBAR === */
.navbar-item {
  display: flex;
  align-items: center;
  gap: 20px;
}


.navbar-link.pergunta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  border: 3px solid transparent;
  border-color: var(--Branco) 1;
  background-color: transparent;
  border-radius: 40px;
  font-weight: var(--weight-semibold);
  font-size: var(--fs-f8);
  text-decoration: none;
  white-space: nowrap;
}

/* === ESTILO INPUT === */
.navbar-link.pergunta input[type="search"] {
  background: transparent;
  border: none;
  outline: none;
  color:var(--Branco); 
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.navbar-link.pergunta input::placeholder {
  color: var(--Branco);
}

/* === ESTILO DO BOTÃO === */
.search-btn {
  background: none;
  border: none;
  color: var(--Branco);
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === BOTÃO DE LOGAR === */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: var(--Verde-mato);
  color: var(--Branco);
  border: none;
  font-weight: var(--weight-semibold);
  text-decoration: none;
  font-size: var(--fs-f8);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--Verde-floresta);
}

/* === BANNER PRINCIPAL ===*/
.banner {
  background-image: url(../img/amazonia.jpg); 
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat; 
  height: 550px; 
  width: 100%;  
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  justify-content: flex-start;
  padding-left: 20px;
  padding-bottom: 10px; 
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1;   
}

.banner-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.banner-title {
  font-size: var(--fs-3);
  font-weight: var(--weight-bold);
  line-height: 1.2;
  color: var(--Branco);
  font-family: var(--ff-MontaguSlab);
  box-shadow: var(--shadow-1);
  line-height: 1.6;
}

.banner-subtitle {
  font-size: var(--fs-f8);
  color: var(--Branco);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-regular);
  margin: 0;
}

/* === ÚLTIMAS NOTÍCIAS === */

.ultimas-noticias {
  text-align: center;
}

.ultimas-title {
  font-family: var(--ff-MontaguSlab);
  font-size: var(--fs-1);
  font-weight: var(--weight-bold);
  color: var(--Primária);
  text-align: center;
  margin-top: 30px;
}


/* === CATEGORIAS PRINCIPAIS === */
.noticia-categorias {
  display: flex;
  justify-content: center;
  gap: 300px; 
  margin-bottom: 10px;
  text-align: center;
}

.categoria {
  color: var(--Preto);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-7);
  padding: 20px 10px;
  border-bottom: 2px solid transparent;
  cursor: default;
  
}

.categoria:hover {
  color: var(--Verde-lima);
  border-bottom: 2px solid var();
}

/* === NOTÍCIAS PRINCIPAIS E REGIÕES === */
.noticias-e-regioes {
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  gap: 100px;
  max-width: 1200px;         
  margin: 0 auto;            
  padding: 20px;
}

.bloco-noticias {
  display: flex;
  gap: 60px;
}

.bloco-noticia {
  width: 360px;
  background-color: var(--Branco);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloco-noticia:hover {
  transform: scale(1.1);
}


/* CONTAINER IMAGEM */
.noticia-imagem {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/* A imagem */
.noticia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Título dentro da imagem */
.noticia-titulo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  color:var(--Branco);
  font-size: var(--fs-4);
  font-family: var(--ff-MontaguSlab);
  text-shadow:var(--shadow-2);
}

/* Descrição da notícia */
.noticia-descricao {
  padding: 30px;
  font-family:var(--ff-Montserrat);
  font-weight: var(--weight-regular);
  font-size: var(--fs-f8);
  background-color: var(--Verde-floresta);
  color: var(--Branco);
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

}

/* Botão da notícia */
.btn-noticia {
  margin-top: 20px;
  margin-left: 20px;
  background-color:var(--Primária);
  border: none;
  color: var(--Branco);
  border-radius: 10px;
  font-weight: var(--weight-bold);;
  align-self: center; 
  font-family: var(--ff-MontaguSlab);
  padding-block: 20px 20px;
  padding-inline: 30px;
  border-radius: 12px;
  background-color: var(--Primária);
  box-shadow: var(--shadow-2);
  z-index: 2;
}

.btn-noticia:hover {
  background-color:var(--Verde-claro);
  transform: scale(1.1);
}

.sua-regiao {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.botoes-regiao {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.botoes-regiao button {
  width: 300px;
  padding: 50px 32px;
  background: var(--Verde-claro);
  border: none;
  color:var(--Branco);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-7);
  font-family: var(--ff-MontaguSlab);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--shadow-2);
}

.botoes-regiao button:hover {
  background-color:var(--Verde-floresta);
  transform: scale(1.1);
}

/*SOBRE NÓS E SUA OPINIÃO*/
.quem-somos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 30px 20px;
  flex-wrap: wrap;
  font-family: var(--ff-InstrumentSans);
  margin-bottom: 30px;
}

.quem-somos-img img {
  width: 350px;
  height: 700px;
  border-radius: 10px;
}

.quem-somos-text {
  max-width: 300px;
  background-color: var(--Background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  border: 3px solid var(--Verde-mato);
}

.quem-somos-text h2 {
  font-size: var(--fs-3);
  font-weight: var(--weight-bold);
  color: var(--Verde-floresta); 
  margin-bottom: 20px;
}

.quem-somos-text p {
  font-size: var(--fs-4);
  font-weight: var(--weight-regular);
  color: var(--Preto);
  line-height: 1.4;
}



/*FOOTER*/
footer.footer {
  background-color: var(--Primária);
  color: var(--Branco);
  padding: 30px 50px;
  font-size: 1.1em;
  margin-top: 40px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-container .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.footer-container .logo img {
  height: 100px;
}

.footer-container .logo .verde {
  font-family: var(--ff-InstrumentSans);
  color: var(--Branco);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-3);
  
}

.footer-container .logo .factual {
  color: var(--Branco);
  font-weight: bold;
  font-family: var(--ff-Megrim);
  font-size: var(--fs-3);
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-info h3 {
  margin-bottom: 10px;
  font-size: var(--fs-3);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-semibold);
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info ul li a {
  color: var(--Branco);
  font-size: var(--fs-6);
  text-decoration: none;
  font-weight: var(--weight-regular);
}

.footer-info ul li a:hover {
  text-decoration: underline;
}

/* ----------- RESPONSIVO ----------- */

@media (max-width: 1024px) {
  .noticia-categorias {
    gap: 2rem; 
    flex-wrap: wrap;
    justify-content: center;
  }

  .noticias-e-regioes {
    flex-direction: column;
    align-items: center;
  }

  .botoes-regiao button {
    width: 350px;
    padding: 70px 50px;
    font-size: var(--fs-3);
  }
  .bloco-noticias {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .bloco-noticia {
    width: 100%;
    max-width: 500px;
  }

  .bloco-noticia:hover {
    transform: none;
  }
}

@media (max-width: 990px) {
  .ultimas-title{
    font-size: var(--fs-2);
  }
  .noticia-categorias {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .noticias-e-regioes {
    flex-direction: column;
    align-items: center;
  }

  .botoes-regiao button {
    width: 350px;
    padding: 70px 50px;
    font-size: var(--fs-3);
  }
  .bloco-noticias {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .bloco-noticia {
    width: 100%;
    max-width: 500px;
  }

  .navbar-list,
  .navbar-item {
    flex-direction: row;
    gap: 15px;
    margin: 10px;
  }

  .botoes-regiao button {
    width: 350px;
    padding: 75px 55px;
    font-size: var(--fs-3);
  }

  .container {
    flex-direction: row;
    padding: 15px;
  }

  .quem-somos-container{
    gap: 5px;
  }

  .banner {
    width: 100%;
  }

  .banner-title {
    font-size: var(--fs-4);
  }

  .banner-subtitle {
    font-size: var(--fs-f8);
  }

   .bloco-noticia:hover {
    transform: none;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-3);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-5);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 10px;
    text-align: center;
  }

  .quem-somos-container {
    flex-direction: column;
    padding: 20px;
  }

  .quem-somos-img img {
    width: 100%;
    height: auto;
    max-width: 350px;
    object-fit: contain;
  }

  .quem-somos-text {
    max-width: 100%;
    margin-top: 20px;
  }

  .banner {
   width: 100%;
  }

  .banner-title {
    font-size: var(--fs-6);
  }

  .banner-subtitle {
    font-size: var(--fs-f8);
  }

  .bloco-noticia:hover {
    transform: none;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-5);
  }

  .footer-container {
    padding: 20px 10px;
    align-items: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-7);
  }

}

@media (max-width: 480px) {
  .navbar-link.pergunta {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }

  .botoes-regiao button {
    padding: 30px 20px;
    font-size: var(--fs-f8);
  }

  .noticia-descricao {
    padding: 20px;
    height: auto;
  }

  .btn-noticia {
    padding: 10px 20px;
    font-size: var(--fs-f8);
  }

  .ultimas-title {
    font-size: var(--fs-2);
  }

  .bloco-noticia:hover {
    transform: none;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-5);
  }

  .footer-container {
    padding: 15px 5px;
    align-items: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-7);
  }
}
