/*----------- RESET -----------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------- VARIÁVEIS -----------*/
:root {
  /* CORES PRINCIPAIS */
  --Background: #D3D2D2;
  --Primária: #224021;
  --Verde-claro: #76C363;
  --Verde-floresta: #337D1E;
  --Verde-folha: #67AC56;
  --Verde-mato: #1F5C23;
  --Verde-lima: #61BE6F;
  --Verde-musgo-claro: #85BC61;
  --Verde-Mata-Densa: #004d00;
  --Azul-ceu: #91BED4;
  --Azul-noite: #304269;
  --Laranja-nordeste: #F39F20;

  /* CORES DE APOIO */
  --Preto: #000000;
  --Branco: #FFFFFF;
  --Cinza: #dcd0d0;
  --Sucess: #1BE071;
  --Warning: #F47E08;
  --Danger: #FF0000;

  /* GRADIENTES */
  --gradiente-floresta: linear-gradient(to right, var(--Verde-mato), var(--Verde-lima));
  --gradiente-nordeste: linear-gradient(to bottom, var(--Background), var(--Laranja-nordeste));
  --gradiente-vital: linear-gradient(90deg, #3e9628 37.5%, rgba(42, 70, 35, 0.88) 100%);
  --gradiente-natureza: linear-gradient(to right, #56ab2f, rgba(42, 70, 35, 0.88) 100%);
  --gradiente-vibrante: linear-gradient(to bottom, #2A4623E0, #56ab2f);
  --gradiente-azul: linear-gradient(to bottom, var(--Azul-noite), var(--Azul-ceu));

  /* TIPOGRAFIA */
  --ff-Montserrat: "Montserrat", sans-serif;
  --ff-InstrumentSans: "Instrument Sans", sans-serif;
  --ff-Megrim: "Megrim", system-ui;
  --ff-MontaguSlab: "Montagu Slab", serif;

  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.7rem;
  --fs-5: 1.6rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-f8: 1.2rem;
  --fs-f9: 5rem;

  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* ESPAÇAMENTO */
  --section-spacing: 60px;

  /* BORDER RADIUS */
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  /* SOMBRAS */
  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
  --shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
  --shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  --shadow-3: 4px 4px 4px 0px rgba(0, 0, 0, 0.53);

  /* TRANSIÇÕES */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /* CLIP PATHS */
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}


/* === CONFIGURAÇÃO DE ROLAGEM === */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--Branco);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Verde-floresta);
}


/*----------- BODY -----------*/
body {
  background: var(--gradiente-nordeste);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-bold);
  color: var(--Preto);
  font-size: var(--fs-2);
}

/*----------- HEADER -----------*/
.cabecalho {
  background-color: var(--Primária);
  color: var(--Branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 150px;
}

.logo {
  height: 80px;
}

.verde {
  text-align: center;
  color: var(--Branco);
  font-size: var(--fs-3);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-bold);
}

.factual {
  font-size: var(--fs-3);
  font-family: var(--ff-Megrim);
  font-weight: var(--weight-semibold);
  color: var(--Branco);
}

.hora,
.data {
  font-family: var(--ff-InstrumentSans);
  font-size: var(--fs-f8);
  font-weight: var(--weight-semibold);
  color: var(--Branco);
}

/*----------- TÍTULO -----------*/
.titulo {
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-1);
  font-weight: var(--weight-bold);
  color: var(--Verde-floresta);
  margin-top: 20px;
  padding-left: 50px;
}

.imagem-principal {
  text-align: center;
  padding: 10px 20px;
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-7);
  font-weight: var(--weight-semibold);
}

.imagem-principal img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
  border-radius: 50px;
  padding: 10px;
}

.textointro p {
  color: var(--Preto);
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-7);
  text-align: center;
  font-weight: var(--weight-semibold);
  margin: 20px;
}

/* === NOTICIA === */
.noticia {
  background-color: var(--Primária);
  font-family: var(--ff-InstrumentSans);
  font-weight: var(--weight-regular);
  color: var(--Branco);
  margin: 30px auto;
  padding: 15px;
  border-radius: 20px;
  max-width: 1200px;
}

.noticia h2 {
  font-weight: var(--weight-bold);
  font-size: var(--fs-2);
  padding: 20px;
}

.noticia:hover {
  transform: scale(0.9);
}


.conteudo-noticia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
  font-family: var(--ff-InstrumentSans);
  font-size: var(--fs-3);
  font-weight: var(--weight-regular);
}

.conteudo-noticia img {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 50px;
}

.conteudo-noticia .text {
  margin-top: 100px;
  font-size: var(--fs-3);
}

/*----------- FOOTER -----------*/
footer.footer {
  background-color: var(--Primária);
  color: var(--Branco);
  padding: 30px 50px;
  font-size: 1.1em;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-container .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.footer-container .logo img {
  height: 100px;
}

.footer-container .logo .verde {
  font-family: var(--ff-InstrumentSans);
  color: var(--Branco);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-3);
}

.footer-container .logo .factual {
  color: var(--Branco);
  font-weight: bold;
  font-family: var(--ff-Megrim);
  font-size: var(--fs-3);
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-info h3 {
  margin-bottom: 10px;
  font-size: var(--fs-3);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-semibold);
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info ul li a {
  color: var(--Branco);
  font-size: var(--fs-6);
  text-decoration: none;
  font-weight: var(--weight-regular);
}

.footer-info ul li a:hover {
  text-decoration: underline;
}

/* === RESPONSIVIDADE === */
@media (max-width: 1243px) {
  .cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: left;
  }

  .noticia {
    margin: 40px 20px;
    padding: 30px;
    border-radius: 15px;
  }

  .conteudo-noticia {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }


  .conteudo-noticia img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    padding: 10px 0;
    border-radius: 30px;
  }

  .noticia h2 {
    font-size: var(--fs-3);
    text-align: center;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-3);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-5);
  }


}

@media (max-width: 768px) {
  .cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: left;
  }

  .logo {
    display: flex;
    height: 60px;
  }

  .titulo {
    font-size: var(--fs-2);
    text-align: center;
    padding-left: 0;
  }

  .imagem-principal img {
    height: 400px;
    border-radius: 30px;
  }

  .textointro p {
    font-size: var(--fs-6);
  }

  .noticia {
    margin: 40px 20px;
    padding: 30px;
    border-radius: 15px;
  }

  .conteudo-noticia {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }


  .conteudo-noticia img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    padding: 10px 0;
    border-radius: 30px;
  }

  .noticia h2 {
    font-size: var(--fs-3);
    text-align: center;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-5);
  }

  .footer-container {
    padding: 20px 10px;
    align-items: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-7);
  }

}

@media (max-width: 480px) {
  .logo {
    height: 50px;
  }

  .titulo {
    font-size: var(--fs-3);
  }

  .imagem-principal img {
    height: 250px;
    border-radius: 20px;
  }

  .textointro p {
    font-size: var(--fs-f8);
    margin: 10px;
  }

  .conteudo-noticia {
    padding: 5px;
    font-size: var(--fs-f8);
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-5);
  }

  .footer-container {
    padding: 15px 5px;
    align-items: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-7);
  }
}