/*----------- RESET -----------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------- VARIÁVEIS -----------*/
:root {
  --Background: #D3D2D2;
  --Primária: #224021;
  --Verde-claro: #76C363;
  --Verde-floresta: #337D1E;
  --Verde-folha: #67AC56;
  --Verde-mato: #1F5C23;
  --Verde-lima: #61BE6F;
  --Verde-musgo-claro: #85BC61;
  --Verde-Mata-Densa: #004d00;
  --Azul-ceu: #91BED4;
  --Azul-noite: #304269;
  --Azul-sudeste: #81D4FA;

  --Preto: #000000;
  --Branco: #FFFFFF;
  --Cinza: #dcd0d0;
  --Sucess: #1BE071;
  --Warning: #F47E08;
  --Danger: #FF0000;

  --gradiente-floresta: linear-gradient(to right, var(--Verde-mato), var(--Verde-lima));
  --gradiente-sudeste: linear-gradient(to bottom, var(--Background), var(--Azul-sudeste));
  --gradiente-vital: linear-gradient(90deg, #3e9628 37.5%, rgba(42, 70, 35, 0.88) 100%);
  --gradiente-nevoa-verde: linear-gradient(to bottom, var(--Background), var(--Verde-lima));
  --gradiente-natureza: linear-gradient(to right, #56ab2f, rgba(42, 70, 35, 0.88) 100%);
  --gradiente-vibrante: linear-gradient(to bottom, #2A4623E0, #56ab2f);
  --gradiente-azul: linear-gradient(to bottom, var(--Azul-noite), var(--Azul-ceu));

  --ff-Montserrat: "Montserrat", sans-serif;
  --ff-InstrumentSans: "Instrument Sans", sans-serif;
  --ff-Megrim: "Megrim", system-ui;
  --ff-MontaguSlab: "Montagu Slab", serif;

  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.7rem;
  --fs-5: 1.6rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-f8: 1.2rem;
  --fs-f9: 5rem;

  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  --radius-5: 5px;
  --radius-3: 3px;

  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
  --transition-1: 250ms ease;
}


/* === CONFIGURAÇÃO DE ROLAGEM === */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--Branco);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Verde-floresta);
}


/*----------- BODY -----------*/
body {
  background: var(--gradiente-nevoa-verde);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-bold);
  font-size: var(--fs-3);
  color: var(--Preto);
}

/*----------- HEADER -----------*/
.cabecalho {
  background-color: var(--Primária);
  color: var(--Branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 150px;
}

.logo {
  height: 80px;
}

.verde {
  text-align: center;
  color: var(--Branco);
  font-size: var(--fs-3);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-bold);
}

.factual {
  font-size: var(--fs-3);
  font-family: var(--ff-Megrim);
  font-weight: var(--weight-semibold);
  color: var(--Branco);
}

.hora,
.data {
  font-family: var(--ff-InstrumentSans);
  font-size: var(--fs-f8);
  font-weight: var(--weight-semibold);
  color: var(--Branco);
}

/*----------- INTRO -----------*/
.introplaneta h2 {
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-f9);
  color: var(--Verde-floresta);
  text-align: left;
  margin: 20px 40px;
}

.imagem {
  text-align: center;
  padding: 10px 20px;
}

.imagem img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
  border-radius: 50px;
  padding: 10px;
}

.textointro {
  color: var(--Preto);
  font-family: var(--ff-Montserrat);
  font-size: var(--fs-7);
  text-align: center;
  font-weight: var(--weight-semibold);
  margin: 20px;
}

/*----------- CONTEÚDO -----------*/
.conteudo {
  background: var(--Verde-mato);
  padding: 50px;
  border-radius: 12px;
  margin: 60px auto;
  width: 90%;
  max-width: 800px;
  min-height: 800px;
}

.conteudo h2 {
  font-family: var(--ff-MontaguSlab);
  font-weight: var(--weight-bold);
  font-size: var(--fs-1);
  text-align: center;
  color: var(--Branco);
}

.conteudo p {
  margin: 30px;
  font-size: var(--fs-4);
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-regular);
  color: var(--Branco);
  text-align: left;
}

/*----------- FOOTER -----------*/
footer.footer {
  background-color: var(--Primária);
  color: var(--Branco);
  padding: 30px 50px;
  font-size: 1.1em;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-container .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.footer-container .logo img {
  height: 100px;
}

.footer-container .logo .verde {
  font-family: var(--ff-InstrumentSans);
  color: var(--Branco);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-3);
}

.footer-container .logo .factual {
  font-family: var(--ff-Megrim);
  font-weight: bold;
  font-size: var(--fs-3);
  color: var(--Branco);
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-info h3 {
  margin-bottom: 10px;
  font-family: var(--ff-Montserrat);
  font-weight: var(--weight-semibold);
  font-size: var(--fs-3);
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info ul li a {
  color: var(--Branco);
  font-size: var(--fs-6);
  text-decoration: none;
  font-weight: var(--weight-regular);
}

.footer-info ul li a:hover {
  text-decoration: underline;
}

/* === REPONSIVIDADE ===*/
@media (max-width: 1024px) {
  .introplaneta h2 {
    font-size: var(--fs-1);
    text-align: center;
  }

  .introplaneta .imagem img {
    height: 500px;
  }

  .conteudo {
    padding: 30px;
    margin: 40px auto;
  }

  .conteudo h2 {
    font-size: var(--fs-2);
  }

  .conteudo p {
    font-size: var(--fs-7);
    margin: 20px;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-3);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-5);
  }
}

@media (max-width: 768px) {
  .cabecalho {
    gap: 10px;
    padding: 20px 30px;
    font-size: var(--fs-4);
  }

  .logo {
    height: 60px;
  }

  .introplaneta h2 {
    font-size: var(--fs-1);
    text-align: center;
  }

  .textointro {
    font-size: var(--fs-f8);
    margin: 20px;
    text-align: center;
  }

  .introplaneta .imagem img {
    height: auto;
    padding: 10px;
  }

  .conteudo {
    padding: 20px;
  }

  .conteudo h2 {
    font-size: var(--fs-3);
  }

  .conteudo p {
    font-size: var(--fs-f8);
    margin: 15px 10px;
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-5);
  }

  .footer-container {
    padding: 20px 10px;
    align-items: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-7);
  }


}

@media (max-width: 440px) {

  .hora,
  .data {
    font-size: var(--fs-f8);
  }

  .introplaneta h2 {
    font-size: 2rem;
  }

  .conteudo {
    padding: 15px;
  }

  .conteudo h2 {
    font-size: var(--fs-4);
  }

  .conteudo p {
    font-size: var(--fs-f8);
  }

  .footer-container .logo img {
    height: 60px;
  }

  .footer-info h3 {
    margin-top: 20px;
    font-size: var(--fs-5);
  }

  .footer-container {
    padding: 15px 5px;
    align-items: center;
    text-align: center;
  }

  .footer-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--fs-7);
  }

}